<h1><%= @representative.name %></h1>
<% if @representative.photo_url.present? %>
  <img src="<%= @representative.photo_url %>" alt="Photo of <%= @representative.name %>">
<% else %>
  <p>Photo unavailable</p>
<% end %>
<p><strong>Title: </strong><%= @representative.title %></p>
<p><strong>OCDID: </strong><%= @representative.ocdid %></p>
<p><strong>Address: </strong><%= @representative.line1 %>, <%= @representative.city %>, <%= @representative.state %> <%= @representative.zip %></p>
<p><strong>Party: </strong><%= @representative.party %></p>

