%h1.text-center Search Results

%p
    Representative: #{@selected_representative ? @selected_representative.name : 'No rep found'}
%p

= form_tag display_articles_my_news_item_path, method: :post do
    = hidden_field_tag :representative_id, @selected_representative.id
    - @api_articles.each_with_index do |article, index|
        .article
            %label
                %input{ type: 'radio', name: 'selected_article_index', value: index, required: true }
                %span.article-title= article['title']
                %span.article-link= link_to article['url'], article['url'], target: '_blank'
                %span.article-description= article['description']
                %input{ type: 'hidden', name: 'news_item[title]', value: article['title'] }
                %input{ type: 'hidden', name: 'news_item[description]', value: article['description'] }
                %input{ type: 'hidden', name: 'news_item[link]', value: article['url'] }
                